<html>
    <body>
        
    </body>
</html>

<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}

    <body class="has-background-grey-lighter">
    {{ partial "hero.html" . }}

    {{ partial "navbar.html" . }}

    <section class="section">
            
        <div class="container">

            {{ partial "breadcrumbs.html" . }}
            
            <div class="content">
                
                {{ if (isset .Params "description") }}
                <div class="card mt-3 has-background-warning">
                    <div class="card-content">
                        <p class="is-size-4">
                            <strong>{{ .Description }}</strong>
                        </p>
                    </div>
                </div>
                {{ else }}
                {{ end }}

                <h1 class="is-size-1">{{ .Title }}</h1>

                {{ .Content }}
            </div>
        </div>
    </section>
    </body>
</html>