<div id="events-container">
{{ range (sort (where .Site.RegularPages "Section" "events") ".Params.SortDate" "asc") }}
<div style="border-left: 10px solid #FF7400" class="card mb-5 item">
    <p class="searchstring" style="display: none">
    
        {{ .Title }}

        {{ with .Description }}
        {{ . }}
        {{ end }}

        {{ with .Params.tags }}
        {{ . }}
        {{ end }}
        
    </p>
    <div class="card-content">
        <p class="subtitle has-text-grey small">{{ .Params.DisplayDate }}</p>
        <p class="title">
        {{ .Title }}
        </p>
    
        <p>
            {{ .Description }}
        </p>

        <p>
        <a href="{{ .Permalink }}">More details...</a>
    </p>
    {{ if (isset .Params "tags") }}
    <hr>
    <div class="item-taglist">
        {{ range sort .Params.tags }}
        <span><a class="tag has-background-dark has-text-white" href="/tags/{{ lower . | urlize }}">{{ title . }}</a></span>&nbsp;
        {{ end }}
    </div>
    {{ else }}
    {{ end }}
    </div>
</div>
{{ end }}
</div>